
{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n %}

{% block titletag %}{% trans "Today's Attendacne" %}{% endblock %}
{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Today's Attendance" icon="date" %}

<form style="margin: 50px" action="" method="post">
    {% csrf_token %}
<button 
    style="font-size: 20px; font-weight: bolder;" 
    class="button button-longrunning yes" id="button-arbitrarily-bigger">
    <svg class="icon icon-spinner icon"
        aria-hidden="true" focusable="false">
        <use href="#icon-spinner"></use>
    </svg> Yup! I am Present Today!!! 
</button>
</form>
{% endblock %}