{% extends "wagtailadmin/base.html" %}
{% load i18n %}


{% block furniture %}
{% include "wagtailadmin/shared/header.html" with title='Give Reason for absent on ' icon=date %}
    
    <form action="/give-absent-reason/" method="post" class="ep_nice_padding ep_nice_margin">
    {% csrf_token %}
        <ul class="fields">
        {{ form.as_ul  }}
        </ul>
    <button type="submit" class="button"> Submit</button>
</form> 
{% endblock %}
{% block extra_css%}
<style>
    .wrapper{
         /* To prevent unneccesary padding just for this page. */
        padding-left: 0;
    }
</style>
{% endblock %}