{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %} 
{% block titletag %} {{ view.page_title }} {% endblock %}

{% block content %}
<div class="ep_profile_container">
    <ul>
        <li class="ep_thumbnail_img"> <img src="{% avatar_url member 100 %} " alt="Photo: {{ member.get_full_name }}"></li>
        <li class="ep_profile_text ep_profile_name"><strong>{{ member.get_full_name }}</strong></li>
        <li class="ep_profile_text">Contact: {{ member.contact }} </li>
        <li class="ep_profile_text">Address: {{ member.address }}</li>
        <li class="ep_profile_text">Institution: {{ member.institution }}</li>
        <li class="ep_profile_text">Country: {{ member.country }}</li>
    </ul>
    <ul class="ep_absent_record">
    <li><strong> Absent Record </strong></li>
    {% if member.get_absent_record %}
        {% for record in member.get_absent_record %}

        {% if record.remarks %}
            <li><b>Date: </b> {{ record.issue_date.date }},<b> Reason: </b> {{ record.remarks }}  </li>
        {% else %}
            <li>Date: {{ record.issue_date.date }}, Reason: Not Given Yet  </li>

        {% endif %}
        {% endfor %}
    {% else %}
        <p>No Record Found.</p>
    {% endif %}
    </ul>
</div>
{% endblock content %}