:root {
  --color-primary: #0060c7;
  --color-primary-darker: #164676;
  --color-primary-dark: #282828;
  --color-primary-lighter: #ffffff;
  --color-primary-light: #318cf5;
  /* --color-input-focus: rgb(204, 0, 102); */
  --color-input-focus-border: #0060c7;
}
